* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-width: 1200px;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}
/*  Navbar */
nav {
  position: fixed;
  background-color: rgb(241, 180, 39);
  width: 100%;
  min-width: 1200px;
}
.logo {
  float: left;
  line-height: 70px;
  width: 10%;
}
.logo img {
  vertical-align: text-bottom;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
}
ul li {
  display: inline-block;
  color: black;
}
nav .nav-left {
  float: left;
  width: 40%;
  line-height: 70px;
}
nav .nav-right {
  float: right;
  width: 40%;
  line-height: 70px;
}
nav a {
  text-decoration: none;
  padding-left: 30px;
}
.inizia {
  display: inline;
  padding: 6px 15px;
  background-color: hsl(217deg 100% 50%);
  width: 50px;
  height: 30px;
  margin-left: 60px;
}
/* Header */
header {
  background-color: hsl(207deg 52% 80%);
  padding-bottom: 275px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.container1 {
  width: 80%;
  margin: 0 auto;
  padding-top: 200px;
}
h1 {
  font-size: 60px;
  margin-bottom: 50px;
}
div .jumbotron img {
  width: 60%;
  margin-bottom: 10px auto;
  float: right;
}
div .text1 {
  text-align: left;
  padding-top: 50px;
  width: 40%;
  float: left;
}
.try-free1 {
  padding: 10px 5px;
  background-color: hsl(217deg 100% 50%);
  color: white;
  text-decoration-line: none;
  margin-top: 50px;
}

/*  main */
.container2 {
  margin: 150px auto;
}
.container2 {
  text-align: center;
  font-size: 25px;
}
/* checkbox */
.checkbox {
  text-align: left;
  margin-top: 50px;
}
/* checkbox 1 */
#fatturazionemensile {
  text-align: left;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  cursor: pointer;
}
#fatturazionemensile:checked {
  border: 5px solid hsl(217deg 100% 50%);
}
/* checkbox 2 */
#fatturazioneannuale {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  cursor: pointer;
}
#fatturazioneannuale:checked {
  border: 5px solid hsl(217deg 100% 50%);
}

/* card */
.card {
  width: (100% / 3);
  margin: 0 auto;
  font-size: 12px;
  margin-top: 30px;
}
.c-head {
  border-bottom: 1px solid black;
}
.card h6 {
  font-size: 15px;
}
.try-type {
  font-size: 20px;
}
.grey-text {
  color: lightgray;
  text-align: left;
  padding-left: 30px;
}
.card1 {
  width: 30%;
  display: inline-block;
  border: 1px solid black;
  margin: 0 auto;
  line-height: 6vh;
  text-align: left;
  padding-left: 30px;
}
.card2 {
  width: 30%;
  display: inline-block;
  border: 1px solid black;
  margin: 0 auto;
  margin-right: 3%;
  margin-left: 3%;
  line-height: 6vh;
  text-align: left;
  padding-left: 30px;
}
.card3 {
  width: 97%;
  border: 1px solid black;
  margin: 0 auto;
  line-height: 6vh;
  text-align: left;
  margin-top: 30px;
}

.card img {
  width: 15px;
  vertical-align: middle;
}
.card3 h5{
  font-size: 20px;
}
.card3 a{
  float: right;
  margin-right: 50px;
}
.price{
  font-size: 20px;
}

.selling-office {
  padding: 10px 5px;
  
  background-color: hsl(217deg 100% 50%);
  color: white;
  text-decoration-line: none;
  
}
/* card buttons */
.try-free {
  padding: 10px 5px;
  background-color: hsl(217deg 100% 50%);
  color: white;
  text-decoration-line: none;
}
.buy-now {
  color: blue;
}
.blu-check {
  color: hsl(218deg 100% 52%);
  font-size: 15px;
}
/* dropbox partner */

 
.dropboxpartner img{
  width: 50%;
  float: left;
  margin-bottom: 30px;
}
.dropboxpartner span{
  width: 48%;
  float: right;
  margin-left: 20px;
  margin-top: 40px;
  font-size: 140%;
  margin-bottom:270px; 
}
.dropboxpartner a{
  background-color: white;
  border: 1px solid black;
  padding: 10px 5px;
  color: black;
  text-decoration: none;
}
.dropbox-buisness{
  margin-top: 40px;
}
.illustrations img{
  width: 30%;
  margin: 15px;

  float:left;
}
.illustrations-1 img{
display: block;
 
}
.debug{
  border: 1px solid black;
}