* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-width: 1200px;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}
/*  Navbar */
nav {
  position: fixed;
  background-color: rgb(255, 255, 255);
  width: 100%;
  min-width: 1200px;
}
.logo {
  float: left;
  line-height: 70px;
  width: 10%;
}
.logo img {
  vertical-align: text-bottom;
}

nav ul li {
  display: inline-block;
  
  list-style-type: none;
}
nav .nav-left {
  float: left;
  width: 40%;
  line-height: 70px;
}
nav .nav-right {
  float: right;
  width: 40%;
  line-height: 70px;
}
nav a {
  text-decoration: none;
  margin-left: 30px;
  padding-bottom: 23px;
  color: rgb(0, 0, 0);
}
nav ul li  .sub-hover:hover{
  border-bottom: 3px solid #0061FF;
}
.inizia {
  display: inline;
  padding: 6px 15px;
  background-color: hsl(217deg 100% 50%);
  width: 50px;
  height: 30px;
  margin-left: 60px;
}
.inizia:hover{
  background-color: rgba(0, 98, 255, 0.657);

}
nav ul li .sub-menu{
  display: none;
  float: none;
  position: absolute;
  padding: 17px 0;
  background-color: red;
  line-height: 100%;

}
.sub-menu a :hover{
  display: block;
}
/* Header */
header {
  background-color: hsl(207deg 52% 80%);
  padding-bottom: 275px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.container1 {
  width: 80%;
  margin: 0 auto;
  padding-top: 200px;
}
.container1 h1 {
  font-size: 60px;
  margin-bottom: 50px;
}
.fa-solid{
  font-size: 50px;
  padding-top: 40px;
  color: black;
}
div .jumbotron img {
  width: 60%;
  margin-bottom: 10px auto;
  float: right;
}
div .text1 {
  text-align: left;
  padding-top: 50px;
  width: 40%;
  float: left;
}
.try-free1 {
  padding: 10px 5px;
  background-color: hsl(217deg 100% 50%);
  color: white;
  text-decoration-line: none;
  margin-top: 50px;
}

/*  main */
.container2 {
  margin: 150px auto;
}
.container2 {
  text-align: center;
  margin-top: 300px;
  font-size: 25px;
}
/* checkbox */
.checkbox {
  text-align: left;
  margin-top: 50px;
}
/* checkbox 1 */
#fatturazionemensile {
  text-align: left;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  cursor: pointer;
}
#fatturazionemensile:checked {
  border: 5px solid hsl(217deg 100% 50%);
}
/* checkbox 2 */
#fatturazioneannuale {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  cursor: pointer;
}
#fatturazioneannuale:checked {
  border: 5px solid hsl(217deg 100% 50%);
}

/* card */
.card {
  width: (100% / 3);
  margin: 0 auto;
  font-size: 12px;
  margin-top: 30px;
  vertical-align: top;
  min-height: 1000px;
 

}
.c-head {
  border-bottom: 1px solid black;
}
.card h6 {
  font-size: 15px;
}
.try-type {
  font-size: 20px;
}
.grey-text {
  color: lightgray;
  text-align: left;
  padding-left: 30px;
}
.card1 {
  width: 30%;
  display: inline-block;
  border: 1px solid black;
  margin: 0 auto;
  line-height: 6vh;
  text-align: left;
  padding-left: 30px;
  
}
.card2 {
  width: 30%;
  display: inline-block;
  border: 1px solid black;
  margin: 0 auto;
  margin-right: 3%;
  margin-left: 3%;
  line-height: 6vh;
  text-align: left;
  padding-left: 30px;
 
}
.card3 {
  width: 97%;
  border: 1px solid black;
  margin: 0 auto;
  line-height: 6vh;
  text-align: left;
  margin-top: 30px;
  min-height: 100px;
}

.card img {
  width: 15px;
  vertical-align: middle;
}
.card3 h5{
  font-size: 20px;
}
.card3 a{
  float: right;
  margin-right: 50px;
}
.price{
  font-size: 20px;
}

.selling-office {
  padding: 10px 5px;
  
  background-color: hsl(217deg 100% 50%);
  color: white;
  text-decoration-line: none;
  
}
/* card buttons */
.try-free {
  padding: 10px 5px;
  background-color: hsl(217deg 100% 50%);
  color: white;
  text-decoration-line: none;
}
.buy-now {
  color: blue;
}
.blu-check {
  color: hsl(218deg 100% 52%);
  font-size: 15px;
}
/* dropbox partner */

 
.dropboxpartner img{
  width: 50%;
  float: left;
  margin-bottom: 30px;

}
.dropboxpartner span{
  width: 48%;
  float: right;
  margin-left: 20px;
  margin-top: 40px;
  font-size: 140%;
  margin-bottom:270px; 
}
.dropboxpartner a{
  background-color: white;
  border: 1px solid black;
  padding: 10px 5px;
  color: black;
  text-decoration: none;
}
.dropbox-buisness{
  margin-top: 40px;
}
.illustrations img{

  margin: 15px;
  width: 90%;

}
.illustrations-1{
display: block;
   width: 30%;
   margin: 15px;
   float: left;
   text-align: left;
}
.debug{
  border: 1px solid black;
}

/* team dropbox buisness */

.h1-2{
  font-size: 40px;
  margin-top: 200px;
  margin-bottom: 40px;
}
.about-our-customers{
  color: hsl(220deg 100% 61%);
  padding-bottom: 40px;
}
/* designit */

 .general{
   margin-top: 50px;
 }

.designit{
  float: left;
  height: 70vh;
  

}
.left-designit{
  height: 35vh;
  width: 35vw;
}
.left-designit img{
  width: 50%;
  height: 100%;
  padding: 40px;
  background-size: contain;

}
svg{
  filter: invert(1);
}
.left-designit1{
  background-color:hsl(112deg 39% 72%) ;
  border: 10px solid hsl(112deg 40% 86%);
  
}
.left-designit2{
  background-color:hsl(337deg 83% 21%);
 
}
.left-designit3{
  background-color:hsl(197deg 100% 40%) ;
  vertical-align:middle;
}
.left-designit4{
  background-color:hsl(0deg 100% 55%);
  vertical-align:middle;
}
.center-designit img{
  width: 200px;
  padding-left: 30px;
  text-align: left;
  margin-bottom:60px ;
  margin-top: 40px;
}
  
.center-designit{
  width: 29%;
  padding-left: 30px;
  text-align: left;
  font-size: 20px;
  background-color: white;
}
.center-designit p{
  height: 35vh;
  overflow-y: auto;

}
  

.right-designit{
  height: 35vh;
  width: 35vw;
  
}
.right-designit img{
  width: 50%;
  height: 100%;
  padding: 40px;

  background-size: contain;
}
.right-designit1{
  background-color: hsl(352deg 99% 42%);
}
.right-designit2{
  background-color: hsl(207deg 52% 80%);
}
.right-designit3{
  background-color: hsl(228deg 82% 28%);
  
}
.right-designit4{
  background-color: hsl(48deg 100% 59%);
}



.add-Dropbox-business{
  background-color: hsl(207deg 52% 80%);

}
.Dropbox-business2 h2{
  float: left;
  margin-top: 150px;
  margin-bottom: 150px;
  font-size: 45px;
  color: hsl(336deg 77% 22%);

}
.Dropbox-business2 a{
  float: left;
  margin-top: 150px;
  font-size: 20px;
  margin-left: 140px;
  background-color: white;
    padding: 5px 100px;
    color: black;
    text-decoration: none;

}
.qea{
  line-height: 6em;
}
.qea h2{
  font-size: 40px;
}
.qea p{
  float: left;
  width: 90%;
  border-top: 1px solid hsl(240deg 3% 93%);
  border-bottom:1px solid hsl(240deg 3% 93%) ;
}
.qea i{
  float: left;
  width: 10%;
  font-size: 40px;
  border-top: 1px solid hsl(240deg 3% 93%);
}
.qea-hover{
  display: none;
} 
.qea-hover:hover{
  display: block;
}

.black-background{
  background-color: black;
  height: 70vh;
  color: white;
  margin-top: 80px;
}
.end-list{
  float: left;
  margin-right: 80px;
  margin-top: 80px;
  margin-bottom: 80px;
  

}
.end-list h3{
  line-height: 3em;
  
  
}
.end-list ul {
  line-height: 2em;
  list-style-type: none;
  
}
.language{
  padding-top: 40px;
  border-top: 2px solid hsl(0deg 0% 56%);
  width: 10%;
 
}