* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
debug {
  border: 3px solid black;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-width: 1200px;
}
.clearfix {
  content: "";
  display: table;
  clear: both;
}
nav {
  position: fixed;
  background-color: rgb(241, 180, 39);
  width: 100%;
}
.logo {
  float: left;
  line-height: 70px;
  width: 10%;
}
.logo img {
  vertical-align: text-bottom;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
}
ul li {
  display: inline-block;
  color: black;
}
nav .nav-left {
  float: left;
  width: 40%;
  line-height: 70px;
}
nav .nav-right {
  float: right;
  width: 40%;
  line-height: 70px;
}
nav a {
  text-decoration: none;
  padding-left: 30px;
}
.inizia {
  display: inline;
  padding: 6px 15px;
  background-color: hsl(217deg 100% 50%);
  width: 50px;
  height: 30px;
  margin-left: 60px;
}
header {
  background-color: hsl(207deg 52% 80%);
  padding-bottom: 275px;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.container1 {
  width: 80%;
  margin: 0 auto;
  padding-top: 200px;
}
h1 {
  font-size: 60px;
}
div .jumbotron img {
  width: 60%;
  margin-bottom: 10px auto;
  float: right;
}
div .text1 {
  text-align: left;
  padding-top: 50px;
}
.container2{
    margin: 300px auto;
}
.container2{
    text-align: center;
    font-size: 25px;
}
.card{
    width: (100% / 3);
    margin: 0 auto;
    font-size: 12px;
}
.card h6{
font-size: 15px;
}
.card1{
   width: 30%;
    display: inline-block;
   border: 1px solid black;
    margin: 0 auto;
    line-height: 6vh;
}
.card2{
    width: 30%;
    display: inline-block;
   border: 1px solid black;
    margin: 0 auto;
    margin-right: 40px;
    margin-left: 40px;
    line-height: 6vh;
}
.card3{
    width: 30%;
    display: inline-block;
   border: 1px solid black;
    margin: 0 auto;
    line-height: 6vh;
}
.grey-text{
    color: lightgray;
}
.card img{
    width: 15px;
    vertical-align: middle;
}
.try-free{
    padding: 10px  5px;
    background-color: hsl(217deg 100% 50%);
    color: white;
    text-decoration-line: none;
}
.buy-now{
    color: blue;
}
.blu-check{
    color: hsl(218deg 100% 52%);
    font-size: 15px;
}